<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Orders</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>My Orders</h2>

    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Item</th>
            <th>Status</th>
            <th>Date Ordered</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.itemTitle}"></td>
            <td th:text="${order.orderStatus}"></td>
            <td th:text="${#dates.format(order.timeStamp, 'dd-MM-yyyy HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
